@import url('../../index.css');

.services {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 1380px) {
    .services {
        width: 80%;
    }
}


@media screen and (max-width: 500px) {
    .services {
        width: 90%;
    }
}