@import "./index.css";

.app {
    background: var(--bg);
    color: var(--fg);

    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 4rem;
}

.text {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    padding: 1rem;
}

.title {
    font-weight: 400;
    font-size: 3rem;
}

.subTitle {
    font-weight: 400;
    font-size: 1.5rem;
    width: 25rem;

    color: var(--fg-2);
}

.description {
    width: 25rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--fg-3);
}

.line {
    height: 0.5rem;
    width: 6.25rem;

    background: var(--fg);
}

@media screen and (max-width: 1380px) {
    .app {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .app {
        margin: 0;
    }

    .text {
        width: 100%;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .title {
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .subTitle {
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .description {
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }
}

@media screen and (max-width: 436px) {
    .title {
        font-size: 1.5rem;
    }

    .subTitle {
        font-size: 1rem;
    }

    .description {
        font-size: 1rem;
    }
}
